[Unit]
Description=products.gallery

[Service]
Type=simple
Restart=always
RestartSec=5s
ExecStartPre=cd ui
ExecStartPre=yarn build
ExecStartPre=mv build dist
ExecStartPre=cd ../server
ExecStartPre=go build
ExecStart=/home/pi/code/products.gallery/server/server
WorkingDirectory=/home/pi/code/products.gallery/

[Install]
WantedBy=multi-user.target