[Unit]
Description=products.gallery

[Service]
Type=simple
Restart=always
RestartSec=5s
ExecStart=cd ui && yarn build && mv build dist && cd ../server && /home/pi/code/products.gallery/server/server
WorkingDirectory=/home/pi/code/products.gallery/

[Install]
WantedBy=multi-user.target